OWNER_NUMBER=62123456789
# public (default) | private | self
ACCESS_MODE=public
# Command prefix(es), comma-separated (default: .)
PREFIX=.

# NODE_ENV options: development | production
NODE_ENV=production


