# dependencies (bun install)
node_modules
bun.lock
package-lock.json


# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# whatsapp auth session
auth/
qr.png

# database
*.db
*.db-wal
*.db-shm

# debug
dev/

# skills
skills-lock.json

# Agent folder
.commandcode
.agents
.claude
.opencode
.superpowers
graphify-out

# venv
.venv/
